{% extends "layouts/main.html" %}

{% block content %}

<h2>BIEN VENIDOS A UruVene "UN ESPACIO PARA LOS INMIGRANTES"  </h2>  
<Inicio html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
            <title>UruVeneuy</title>
        </head>
        <body>
            <table>
                <thead>
                    <tr>
        <div class= "form-group my-3">
                     <h3><th>  HISTORIA Y TRAYECTORIA </h3>
                     <p> En estos 5 años de actividades ya hemos atendido a más de 4.000 personas de 18 nacionalidades que han llegado al país de manera presencial y a través de las redes asesoramos a través de los grupos de WhatsApp que tenemos de Información donde interactúan y conocen sobre los diversos temas que deben aprender de Uruguay, Avisos de Empleos donde además de la publicación de avisos también orientamos en la inclusión laboral y Compra Venta apoyando a los emprendedores dando a conocer sus iniciativas y del sector Salud para los profesionales de esta área, Nuestro equipo está conformado por 57 voluntarios de Perú, Cuba, Uruguay y Venezuela y de todas las edades incluyendo 14 voluntarios menores de edad que ya aprenden la labor de apoyar al prójimo y promover su integración en la sociedad.</p>
                     <p> Especialistas en <b>Desarrollos Humanitarios</b></p>
                    </th>
                    </tr> 
        </div>       
                </thead>
                <tbody>
                    <h3> PROLOGO</h3>
                    <p> UruVene es una institución conformada por inmigrantes y nacionales, que tienen como objetivo apoyar a los inmigrantes que llegan a Uruguay en busca de nuevas oportunidades. Fundada el 19 de mayo de 2018, nuestra organización se enfoca en mejorar la calidad de vida de personas en situación de vulnerabilidad, especialmente aquellos de diversas nacionalidades que arriban a nuestro país. A través de diversos programas y servicios, trabajamos para proporcionar orientación, contención emocional, asistencia con trámites legales, acceso a recursos básicos y promoción de la integración en la sociedad uruguaya.</p>
    
           <table>
            <thead>
                <tr>
                    <th rowspan >Objetivo y Misión: </th>
                    <td> La misión de UruVene es mejorar la calidad de vida y promover el desarrollo integral de los inmigrantes en Uruguay, ofreciendo servicios y apoyo que aborden sus necesidades básicas y fomenten su integración en la sociedad uruguaya. Nos comprometemos a proporcionar orientación, contención emocional, asistencia con trámites legales, acceso a recursos básicos y oportunidades de participación en actividades educativas, recreativas y culturales. </td>
                </tr>        
            </thead>
            <tbody>
                <tr>
                    <th rowspan> Visión: </th>
                    <p>  <td >Mantener un compromiso con la comunidad inmigrante en Uruguay, siendo un referente en la provisión de servicios y apoyo que contribuyan al bienestar y la integración de los inmigrantes en la sociedad uruguaya.</td></p> 
                     
                </tr>
                <thead>
                <tr>
                    <th > Valores: </th>
                        <td > Compromiso: Estamos comprometidos con la misión y visión de UruVene y trabajamos con dedicación para cumplir nuestros objetivos. 
                            Solidaridad: Nos solidarizamos con las personas en situación de vulnerabilidad y ofrecemos apoyo y asistencia sin discriminación.
                            Colaboración: Fomentamos la colaboración y el trabajo en equipo para maximizar el impacto de nuestras acciones. 
                            Transparencia: Mantenemos una comunicación abierta y transparente con nuestros beneficiarios, donantes y colaboradores. </td>
                </tr>
                <thead>
                <tr> 
                    <th> Servicios: </th>
                        <td > Nuestros servicios están diseñados para abordar las necesidades básicas y específicas de los inmigrantes, incluyendo:
                             1. Orientación con la Tramitación de Documentos: Asistencia en la obtención de documentos uruguayos como la cédula de identidad,
                             carnet de salud, carnet de vacunación, licencia de conducir, entre otros. 
                             2. Contención Emocional: Apoyo psicológico para gestionar el duelo migratorio y enfrentar los desafíos emocionales relacionados con la migración. 
                             3. Talleres Online de Orientación Laboral: Capacitación en la elaboración de currículums vitae, búsqueda de empleo y orientación laboral.
                             4. Orientación en la Búsqueda de Empleo y Alojamiento: Asesoramiento en la búsqueda activa de empleo y publicaciones de avisos y alojamiento,
                              ya sea en pensiones o alquileres.
                             5. Asistencia Material: Distribución de ropa, zapatos, sábanas, canastas de alimentos y otros artículos para el hogar. Entrega de muebles y 
                             electrodomésticos para facilitar la instalación en el nuevo hogar. 
                             6. Apoyo a Familias y Niños: Distribución de juguetes, útiles escolares y libros para niños. Atención especial a mujeres gestantes con información 
                             y celebración de baby shower.
                             7. Actividades Recreativas y Encuentros para Compartir: Organización de actividades recreativas y encuentros entre migrantes para fortalecer los 
                             lazos comunitarios y promover el intercambio cultural. 
                             8. Viajes Recreacionales y de Conocimiento de Uruguay: Excursiones y viajes para dar a conocer la cultura, lugares emblemáticos y oportunidades 
                             que ofrece Uruguay. </td>
                </tr>
                <thead>
                <tr>
                    <th > Compromiso: </th>
                        <td > En UruVene, estamos comprometidos con mejorar la calidad de vida de los inmigrantes en Uruguay y promover su integración en la sociedad. A través de nuestros
                             programas y servicios, trabajamos para proporcionar apoyo integral que aborde sus necesidades básicas y promueva su desarrollo integral. Invitamos a colaboradores, 
                             donantes y voluntarios a unirse a nuestra causa y contribuir a hacer una diferencia positiva en la vida de los inmigrantes en nuestro país Uruguay. </td>
                </tr>
                </thead>
                
            </tbody>
           </table>
           <ul>
            <div class= "form-group my-1">
            <img src="static/images/correoE.png" alt="" width="50"><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">Contacto</a>
            <img src="static/images/uruvenelogo.jpeg" alt="" width="50"><a href="https://www.instagram.com/stories/uruvene.uy/3397427108387687594/">INSTARAM</a>
            </a>
            </div>
           </ul>
        </body>
        </html>
        
        
      


{% endblock %}
